/* BASIC LAYOUT */


body {
  background:linear-gradient(0deg,rgba(0,0,0,0.3),rgba(0,0,0,0.3)),url("https://assets.weforum.org/project/image/large_ZbcsNtoVp8NrArZWGTMk-cRIc5aGt9GPaTFyWeT5_IM.jpeg");
  background-position: center top;
  background-repeat: no-repeat;
  background-size: 100% 0%;

}

html {
  font-size: 18px; 
  font-family: sans-serif;
  color: black;
  background-color: white; 
  color: black;
}

body {
  width: 1000px;
  margin: 50px auto;
  background-color: white; 
  padding: 0 50px 50px 20px;
  text-align: justify;
}

h1 {
  color: #780000;;
  font-size: 35px; 
  text-align: center;
  font-family: "Lato"; 
  margin: 30px 0px 0px 0px; 
  padding: 0px 0px 0px 0px; 
}

h2 {
  color: #780000;
  font-size: 20px;
  text-align: center; 
  font-family: "Lato";
  margin: 10px 0px 0px 0px; 
  padding: 0px 0px 0px 0px; 
}

h3 {
  color: #780000;
  font-size: 20px;
  font-family: "Lato";
  margin: 10px 0px 0px 0px; 
  padding: 0px 0px 0px 0px;

}
  #map {
    display: block;
    margin: auto;
    width: 100%;
    height: auto;
  }

    img {
    display: block;
    margin: auto;
  }
  iframe {
    display: block;
    margin: auto;
  }

/* NAVIGATION BAR  */

div.scrollmenu {
    position: fixed;
    top: 0%; 
    left: 0; 
    width: 100em; 
    background-color: #780000;
    overflow: auto;
    font-family: sans-serif; 
    font-size: 24px; 
    white-space: nowrap;
    opacity: .9;
}

div.scrollmenu a {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 20px;
    text-decoration: none;
}

div.scrollmenu a:hover {
    background-color: #777;
}

.button {
      background-color: #780000;
        border: none;
        color: white;
        padding: 15px 32px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
        margin: 4px 2px;
        cursor: pointer;
        float: right;
        display: flex;
        justify-content: space-between;
      }
      
      .member-grid {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        grid-gap: 10px;
      }

      /* Member styles */
      .member {
        border: none;
        padding: 10px;
        text-align: center;
      }

      /* Image styles */
      .member img {
        width: 100%;
        max-width: 200px;
        border-radius: 50%;
      }
